@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
#table-user {
    table-layout: fixed;
    width: 100%;
}
#table-user th {
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-style:italic;
  
}

#logo:hover {
  color: #C0C0C0;
  text-decoration: none;
}
#header{
  background:teal;
}
.dropdown-header {
    background-color: rgba(200,200,200,0.5);
    font-weight: bold;
}
#dropdown-title {
    background-color: teal;
    color: #FFFFFF;
    font-weight: bold;
}    
#dropdown-title:hover {
    background:none;
    color: #C0C0C0;
}
.dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #777777;
    white-space: nowrap;
}

#headerlist {
    color: #FFFFFF;
    font-weight: bold;
}


#headerlist:hover {
   background:none;
   color: #C0C0C0;
   text-decoration: none;
   text-transform: none;
}

/* タグ */
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}


#top-main {
    background-color: rgba(255,255,255,0);
}
#top-main-title {
    font-style: italic;
    font-weight: bold;
}

.btn-form {
    margin-top: 10px;
}

.label-form {
    margin-top: 5px;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-user-division {
    margin-left: 5px;
}
/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
